body {
  background-color:#FFFFFF;
  font-size:100%;
  height: 100%;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

p, li {
  font-weight: normal;
}

a:link {
  text-decoration: none;
  color: blue;
}

a:visited {
  text-decoration: none;
  color: blue;
}

a:active {
  text-decoration: none;
  color: red;
}

a:hover {
  text-decoration: none;
  color: red;
}

.scrol_verbatim {
  overflow:auto;                        /* Regel für übergroßen Inhalt */
  border: 3px double #244B74;           /* Rahmen */
  margin: 0ex;
  padding:4px;                          /* Textabstand zum Rand */
  background: #A0A8A0;
}

th.abstand_zentriert {
  background-color:#FFFFFF;
  vertical-align:middle;
  text-align:center;
  padding-left:10px;
  padding-right:10px;
  margin-left:10px;
  margin-right:10px;  
}

th.abstand_links {
  background-color:#FFFFFF;
  vertical-align:middle;
  text-align:left;
  padding-left:10px;
  padding-right:10px;
  margin-left:10px;
  margin-right:10px;  
}

td.abstand_links {
  background-color:#FFFFFF;
  vertical-align:middle;
  text-align:left;
  padding-left:10px;
  padding-right:10px;
  margin-left:10px;
  margin-right:10px;  
}


td.abstand_links_grau1 {
  background-color:rgb(221,221,221);
  vertical-align:middle;
  text-align:left;
  padding-left:10px;
  padding-right:10px;
  margin-left:10px;
  margin-right:10px;  
}

td.abstand_links_grau2 {
  background-color:rgb(170,170,170);
  vertical-align:middle;
  text-align:left;
  padding-left:10px;
  padding-right:10px;
  margin-left:10px;
  margin-right:10px;  
}

td.abstand_links_grau3 {
  background-color:rgb(136,136,136);
  vertical-align:middle;
  text-align:left;
  padding-left:10px;
  padding-right:10px;
  margin-left:10px;
  margin-right:10px;  
}

td.abstand_links_highlight {
  background-color:#ffcc00;
  vertical-align:middle;
  text-align:left;
  padding-left:10px;
  padding-right:10px;
  margin-left:10px;
  margin-right:10px;  
}

td.abstand_links_highlight2 {
  background-color:#00FF00;
  vertical-align:middle;
  text-align:left;
  padding-left:10px;
  padding-right:10px;
  margin-left:10px;
  margin-right:10px;  
}

td.abstand_links_nowrap {
  background-color:#FFFFFF;
  vertical-align:middle;
  text-align:left;
  padding-left:10px;
  padding-right:10px;
  margin-left:10px;
  margin-right:10px;  
  white-space:nowrap;
}

td.abstand_zentriert {
  background-color:#FFFFFF;
  vertical-align:middle;
  text-align:center;
  padding-left:10px;
  padding-right:10px;
  margin-left:10px;
  margin-right:10px;  
}

td.abstand_zentriert_nowrap {
  background-color:#FFFFFF;
  vertical-align:middle;
  text-align:center;
  padding-left:10px;
  padding-right:10px;
  margin-left:10px;
  margin-right:10px;  
  white-space:nowrap;
}


td.abstand_zentriert_blau_bg {
  background-color:#0059FF;
  vertical-align:middle;
  text-align:center;
  padding-left:10px;
  padding-right:10px;
  margin-left:10px;
  margin-right:10px;  
}

td.abstand_zentriert_orange_bg {
  background-color:#FFA500;
  vertical-align:middle;
  text-align:center;
  padding-left:10px;
  padding-right:10px;
  margin-left:10px;
  margin-right:10px;  
}

div.zweitescover {
     margin-top: 10px;
}


div.kasten {
     margin-top: 15px;
     margin-bottom: 15px;
}

div.abb {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding:10px;    /*     Innenabstand */
}
